/* ! Général */
body {
    background-image: url('/public/assets/img/opacity-3-underworld-background.jpg');
    background-size: cover;
}

h1, button, .resultTxt, .txt{
    font-family: 'Cinzel', serif !important;
}
h1, .resultTxt{
    font-weight: 900 !important;
}
.txt{
    font-weight: 500 !important;
}
.resultTxt{
    color: #5E1E1F;
}
#button__container{ /* pour garder l'espace au d-none et éviter l'effet de bug */
    height: 38px;
}
button{
    border-radius: 0% !important;
}
.character__container{
    height: 80vh;
    display: flex;
    justify-content: center;
}
.character__video--hero{ /* pour placer la vidéo au milieu de son container */
    transform: translateX(-10%);
}
#hero__dead{
    position: absolute;
    z-index: 3;
    left: 0px;
    max-height: 80vh !important;
}
#orc__dead{
    position: absolute;
    z-index: 3;
    right: 0px;
    max-height: 80vh !important;
    padding: 0px 45px 0px 0px !important;
}
.character__video{
    max-height: 80vh;
}



/* ! Responsive */

@media (max-width: 768px) {
    .txt{
        .txt{
            font-size: 0.9em !important;
        }
    }
    .characters__container--mobile{
        max-height: 20vh !important;
    }
}
@media (max-width: 1200px) {
    .character__video{
        max-width: 50vw !important;
        max-height: 40vh !important;
    }
    #hero__dead{
        max-height: 40vh !important;
    }
    #orc__dead{
        max-height: 40vh !important;
        padding: 0px 2px 0px !important;
    }
    .resize--mobile{
        max-height: 42vh !important;
    }
}



/* ! Animations */

.txt {
    animation: fade-in 15s cubic-bezier(0.42, 0, 0.58, 1);
}
.playBtn__fade-out{ /* js class */
    animation: fade-btn-out 0.5s;
}
.replayBtn__fade-int{ /* js class */
    animation: fade-btn-in 0.5s;
}
.dead__fade-int{ /* js class */
    animation: dead__fade-int 2s;
}
.dead__fade-out{ /* js class */
    animation: dead__fade-out 2s;
}




@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-btn-out {
    from{
        opacity: 1;
        transition: ease;
    } to {
        opacity: 0;
    }
}
@keyframes fade-btn-in {
    from{
        opacity: 0;
        transition: ease;
    } to {
        opacity: 1;
    }
}
@keyframes dead__fade-int {
    from{
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    } to {
        opacity: 1;
    }
}
@keyframes dead__fade-out {
    from{
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    } to {
        opacity: 0;
    }
}